# Ignore node_modules directory
node_modules/

# Ignore npm debug log file
npm-debug.log

# Ignore environment variables file
.env

# Ignore todo list file
.todo.txt

# Other
scraping/scraped_data_sample.txt
images/

# Ignore client
client/

# Ignore scraping/__pycache__
scraping/__pycache__/

